body {
  margin: 0px;
  background-color: #313236;
  color: white;
  font-family: arial, sans-serif;
}

a {
  text-decoration: none;
  color: #CEDE3E;
}

a:hover {
  color: orange;
}

ul {
  list-style-type: none;
  padding-left: 30px
}

#container {
  margin: auto;
  width: 900px;
  padding: 0px 25px;
}

#name {
  margin: 0px;
  padding-top: 20px;
  font-size: 1.5em;
  letter-spacing: 2px;
}

#skill_list {
  background-color: #616369;
  text-align: center;
  padding: 5px 5px 0px 5px;
  margin-bottom: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1.05em
}

#skill_list li {
  background-color: #B5BA20;
  display: inline-block;
  border-radius: 3px 3px 0px 0px;
  padding: 5px 15px;
  color: black;
  cursor: pointer;
}

#skill_display_box {
  font-family: 'Days One', sans-serif;
  font-size: 1.3em;
  color: black;
  background-color: #CFD3E3;
  height: 230px;
  border-radius: 0px 0px 5px 5px;
  text-align: center;
  vertical-align: center;
}

#skill_display_box div {
  display: none;
}

#skill_display_box p {
  display: inline-block;
}


#skill_display_box p span {
  display: block;
  font-style: italic;
}

#skill_display_box .active_tab {
  display: block;
}

#details {
  padding-top: 20px;
  text-align: right;
  margin-top: 0px;
  font-size: 1em;
}

#education {
  margin-bottom: 0px;
  padding-bottom: 20px
}

#d3svg {
  height: 175px;
}

.orm {
  font-size: 3em;
  margin: 20px;
}

#mongoose {
  font-weight: 100;
  font-family: sans-serif;
  letter-spacing: -7px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.content {
  clear: both;
}

.section_header {
  margin-bottom: 0px;
}

.project {
  margin: 15px 0px;
  padding-left: 30px;
}

.experience {
  margin: 15px 0px;
  padding-left: 30px;
}

.light {
  font-weight: 100;
}