body {
  margin: 0px;
  background-color: #313236;
  color: white;
  font-family: arial, sans-serif;
}

a {
  text-decoration: none;
  color: #CEDE3E;
}

a:hover {
  color: orange;
}

ul {
  list-style-type: none;
  padding-left: 30px
}

#container {
  margin: auto;
  width: 900px;
  padding: 0px 25px;
}

#name {
  margin: 0px;
  padding-top: 20px;
  font-size: 2em;
  font-weight: bolder;
  letter-spacing: 1px;
  font-weight: 100;
}

#name::first-letter{
  font-weight: bold;
  font-size: 1.3em;
}

.content {
  padding-top: 5px;
}
#skill_list {
  background-color: #616369;
  text-align: center;
  padding: 5px 5px 0px 5px;
  margin-bottom: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1.05em
}

#skill_list li {
  background-color: #DEE344;
background: -moz-linear-gradient(top, #DEE344 0%, #ed9017 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DEE344), color-stop(100%,#ed9017)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #DEE344 0%,#ed9017 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #DEE344 0%,#ed9017 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #DEE344 0%,#ed9017 100%); /* IE10+ */
background: linear-gradient(to bottom, #DEE344 0%,#ed9017 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DEE344', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
  display: inline-block;
  border-radius: 3px 3px 0px 0px;
  padding: 5px 15px;
  color: black;
  cursor: pointer;
}

#skill_list .selected {
  box-shadow: 0px 0px 10px 0px black;
  z-index: -10;
}

#skill_display_box {
  font-family: 'Days One', sans-serif;
  padding-bottom: 15px;
  margin-bottom: 20px;
  font-size: 1.3em;
  color: black;
  background-color: #CFD3E3;
  height: 230px;
  border-radius: 0px 0px 5px 5px;
  text-align: center;
  vertical-align: center;
}

#skill_display_box div {
  display: none;
}

#skill_display_box p {
  display: inline-block;
}


#skill_display_box p span {
  display: block;
  font-style: italic;
}

#skill_display_box .active_tab {
  display: block;
}

#details {
  padding-top: 20px;
  text-align: right;
  margin-top: 0px;
  font-size: 1em;
}

#education {
  margin-bottom: 0px;
  padding-bottom: 20px
}

#d3svg {
  height: 175px;
}

.orm {
  font-size: 3em;
  margin: 20px;
}

#mongoose {
  font-weight: 100;
  font-family: sans-serif;
  letter-spacing: -7px;
}

#soft_skills {
  padding-top: 70px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.content {
  clear: both;
}

.section_header {
  margin-bottom: 0px;
}

.project {
  margin: 15px 0px;
  padding-left: 30px;
}

.experience {
  margin: 15px 0px;
  padding-left: 30px;
}

.large-pad {
  padding: 0px 80px;
  padding-bottom: 5px;
}

.medium-pad {
  padding: 0px 45px;
}

.small-pad {
  padding: 0px 10px;
}